.w {
  width: 1138px;
  margin: 0 auto; }

body, p, img, dl, dt, dd, ul, ol, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  font: 12px/1.2em Microsoft YaHei,Simsun, Arial;
  text-align: left;
  min-width: 1138px; }

ul, ol {
  list-style: none; }

img {
  border: 0 none; }

input, select {
  vertical-align: middle; }

table {
  border-collapse: collapse; }

s, em, i {
  font-style: normal;
  text-decoration: none; }

.cf {
  *zoom: 1; }

.cf:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  zoom: 1; }

.top .header {
  width: 1138px;
  margin: 0 auto; }

.top {
  height: 66px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: white; }
  .top .header {
    line-height: 66px; }
    .top .header img {
      float: left;
      margin-left: 5px;
      margin-top: 13px; }
    .top .header ul {
      float: left;
      margin-left: 216px; }
      .top .header ul li {
        width: 100px;
        float: left;
        text-align: center;
        margin-right: 5px; }
        .top .header ul li:hover {
          background-color: #cfdb00; }
        .top .header ul li.home {
          background-color: #cfdb00; }
        .top .header ul li a {
          display: block;
          color: #1e1e1e;
          font-size: 15px;
          text-decoration: none; }
  .top .xian {
    position: absolute;
    top: 64px;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(180deg, #c8c8c8, #ffffff); }

.titlediv {
  text-align: center;
  margin-top: 145px;
  margin-bottom: 75px; }
  .titlediv .title {
    left: 50%;
    margin-left: -232px;
    position: relative;
    height: 3px;
    width: 464px;
    background-color: #cfdb00;
    margin-top: 0; }
    .titlediv .title .title1 {
      background-color: white;
      position: absolute;
      left: 115px;
      top: -9px;
      display: inline-block;
      line-height: 22px;
      font-size: 26px;
      color: #616161; }

.block, .banner1 .describe span:nth-child(1), .banner1 .describe span:nth-child(2), .content ul li:nth-child(odd) .text span:nth-child(1), .content ul li:nth-child(odd) .text span:nth-child(2), .content ul li:nth-child(even) .text span:nth-child(1), .content ul li:nth-child(even) .text span:nth-child(2) {
  display: block; }

.banner1 {
  position: relative; }
  .banner1 .describe {
    position: absolute;
    bottom: 0;
    padding: 30px;
    width: 1078px;
    height: 75px;
    overflow: hidden;
    background-color: rgba(20, 20, 20, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000, endcolorstr=#7F000000);
  }

    .banner1 .describe span:nth-child(1) {
      font-size: 30px;
      color: #b4b4b4;
      font-weight: bold;
      line-height: 30px; }
    .banner1 .describe span:nth-child(2) {
      font-size: 15px;
      color: #b4b4b4;
      margin-top: 23px;
      line-height: 20px; }

.content ul li:nth-child(odd) .text, .content ul li:nth-child(even) .text {
  width: 350px;
  height: 145px;
  padding: 20px 20px;
  overflow: hidden; }

.content {
  background-color: #f5f5f5; }
  .content ul {
    padding: 0 53px; }
    .content ul li {
      padding-top: 42px;
      padding-bottom: 10px;
      border-bottom: 1px solid #bfbfbf; }
      .content ul li:nth-child(odd) .img {
        float: left;
        border: 5px solid white; }
      .content ul li:nth-child(odd) .text {
        float: right; }
        .content ul li:nth-child(odd) .text span:nth-child(1) {
          font-size: 30px;
          color: #b4b4b4;
          font-weight: bold;
          line-height: 30px; }
        .content ul li:nth-child(odd) .text span:nth-child(2) {
          font-size: 15px;
          color: #b4b4b4;
          margin-top: 23px;
          line-height: 20px; }
      .content ul li:nth-child(even) .img {
        float: right;
        border: 5px solid white; }
      .content ul li:nth-child(even) .text {
        float: left; }
        .content ul li:nth-child(even) .text span:nth-child(1) {
          font-size: 30px;
          color: #b4b4b4;
          font-weight: bold;
          line-height: 30px; }
        .content ul li:nth-child(even) .text span:nth-child(2) {
          font-size: 15px;
          color: #b4b4b4;
          margin-top: 23px;
          line-height: 20px; }

.space {
  text-align: center;
  position: relative;
  height: 109px;
  background-color: #f5f5f5; }
  .space .sanjiao {
    background-image: url(images/top.png);
    width: 69px;
    height: 52px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -35px;
    text-align: center; }
  .space p {
    color: white; }
    .space p:nth-of-type(1) {
      line-height: 20px;
      font-size: 20px;
      font-weight: bold; }
    .space p a {
      line-height: 40px;
      color: white;
      font-size: 17px;
      text-decoration: none; }

.contact-footer {
  background-color: white;
  text-align: center;
  padding-top: 70px; }
  .contact-footer .title {
    position: relative;
    height: 3px;
    width: 464px;
    background-color: #cfdb00;
    margin-bottom: 85px; }
    .contact-footer .title .title1 {
      background-color: white;
      position: absolute;
      left: 115px;
      top: -9px;
      display: inline-block;
      line-height: 22px;
      font-size: 26px;
      color: #616161; }
  .contact-footer .contact-text {
    font-size: 16px;
    color: #b4b4b4;
    line-height: 25px; }
  .contact-footer .banquan {
    margin-top: 100px;
    background-color: #b4b4b4;
    height: 67px;
    line-height: 67px;
    border-top: 2px solid #cfdb00; }
    .contact-footer .banquan span {
      font-size: 20px;
      color: white; }

/*# sourceMappingURL=home.css.map */
